{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": "2" }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }],
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel"
  ]
}
